#header
{
  background: red;
  height: 4rem;
  font-family: Calibri;
  font-size: 32
}

 body
 {
 background: rgb(150, 200, 240);
 font-family: arial;
 }
 
 .Contactbody
 {
    background: rgb(100, 100, 100)
 }
 
 .CVbody
 {
   background: rgb(160, 175, 130)
 }
 
 .hobbiesbody
 {
 background: rgb(255, 248, 38)
 }
 
 .2DProjectsbody
 {
  background: rgb(57, 212, 98)
 }
 
 .3DModelsbody
 {
   background: rgb(187, 7, 227)
 }
 
 img
 {
	border-width: 5px;
	border-style: solid;
	border-color: black;
 }

.sectionheading
{
	font-size: 32;
	font-family: Comic Sans MS;
	
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: rgb(150, 150, 255);
	background: rgb(230, 240, 255);
	padding: 5px;
	font-style: italic;
}